<!DOCTYPE html>
{% load static %}
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/tab_ico.png' %}" />
    <title>Lessonix Student - Політика конфіденційності</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/fonts.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/privacypolicy.css' %}"/>
</head>
<body>
    <div class="main-content">
        <section class="privacy-policy">
            <h1>Політика конфіденційності Lessonix Student</h1>
            <p><strong>Останнє оновлення:</strong> 02.04.2025 </p>
            <p>Дякуємо, що користуєтесь додатком Lessonix Student! Ми цінуємо вашу довіру та прагнемо забезпечити безпеку ваших персональних даних.</p>
            
            <h2>1. Які дані ми збираємо</h2>
            <ul>
                <li><strong>Email</strong> – використовується для ідентифікації користувача в системі.</li>
                <li><strong>Дані відміток про присутність</strong> – час і місце сканування QR-коду.</li>
                <li><strong>Дані камери</strong> – використовується лише для сканування QR-кодів, зображення чи відео не зберігаються.</li>
            </ul>
            
            <h2>2. Як ми використовуємо ваші дані</h2>
            <p>Ми використовуємо зібрані дані виключно для таких цілей:</p>
            <ul>
                <li>Надання доступу до системи Lessonix Student.</li>
                <li>Фіксація присутності на уроці.</li>
                <li>Адміністрування та вдосконалення роботи додатку.</li>
            </ul>
            
            <h2>3. Як ми захищаємо ваші дані</h2>
            <p>Ми використовуємо сучасні методи захисту інформації, включаючи шифрування та безпечне зберігання даних на серверах із обмеженим доступом.</p>
            
            <h2>4. Чи передаємо ми ваші дані третім сторонам</h2>
            <p>Ми не продаємо, не передаємо та не розголошуємо ваші персональні дані третім особам, за винятком випадків, передбачених законодавством.</p>
            
            <h2>5. Ваші права</h2>
            <p>Ви маєте право:</p>
            <ul>
                <li>Отримати доступ до своїх персональних даних.</li>
                <li>Вимагати їх виправлення або видалення.</li>
                <li>Відкликати згоду на обробку даних.</li>
            </ul>
            <p>Для реалізації ваших прав звертайтеся на <a href="mailto:lessonixapp@gmail.com">[email підтримки]</a>.</p>
            
            <h2>6. Зміни в Політиці конфіденційності</h2>
            <p>Ми можемо періодично оновлювати цю Політику. Усі зміни будуть опубліковані в додатку, і, за потреби, ми повідомимо вас про них окремо.</p>
            
            <h2>Зв’язок з нами</h2>
            <p>Якщо у вас є питання щодо цієї Політики, будь ласка, зв’яжіться з нами за адресою <a href="mailto:lessonixapp@gmail.com">[email підтримки]</a>.</p>
        </section>
    </div>
</body>
</html>
